<ion-view title="Favorites" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="favorites-list3" class=" ">
            <ion-item class="item-icon-left  " id="favorites-list-item11">
                <i class="icon ion-android-star"></i>Four</ion-item>
            <ion-item class="item-icon-left  " id="favorites-list-item12">
                <i class="icon ion-android-star"></i>Five</ion-item>
            <ion-item class="item-icon-left  " id="favorites-list-item13">
                <i class="icon ion-android-star"></i>Six</ion-item>
        </ion-list>
    </ion-content>
</ion-view>