<ion-view title="Guitar Chords" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="guitarChords-list4" class=" ">
            <ion-item id="guitarChords-list-item14" class="  ">A</ion-item>
            <ion-item id="guitarChords-list-item15" class="  ">B</ion-item>
            <ion-item id="guitarChords-list-item16" class="  ">C</ion-item>
        </ion-list>
        <ion-list id="guitarChords-list5" class=" ">
            <ion-item id="guitarChords-list-item17" class="  ">D</ion-item>
            <ion-item id="guitarChords-list-item18" class="  ">E</ion-item>
            <ion-item id="guitarChords-list-item19" class="  ">F</ion-item>
        </ion-list>
    </ion-content>
</ion-view>