<ion-view title="Song Lists" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="songLists-form1" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search a song">
            </label>
            <ion-item class="item-icon-left  " id="songLists-list-item8">
                <i class="icon ion-android-star-outline"></i>One</ion-item>
            <ion-item class="item-icon-left  " id="songLists-list-item9">
                <i class="icon ion-android-star-outline"></i>Two</ion-item>
            <ion-item class="item-icon-left  " id="songLists-list-item10">
                <i class="icon ion-android-star-outline"></i>Three</ion-item>
        </form>
    </ion-content>
</ion-view>